@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
    background-color: #f1f1f1;
}

#speacker {
    width: 50px;
    height: 50px;
    cursor: pointer;
     right: 20%;
     top: 70px;
     position: absolute;
}

#stats
{
    padding: 0;
    margin:auto;
    margin-top: -20px;
    display: block;
    width: 600px;
    height: 60px;
    color: #666;
    font-size: 20px;
    font-family: arial;
}


#canvas,#play,#replay,#loading{
    padding: 0;
    margin: auto;
    margin-top: 45px;
    display: block;
    width: 600px;
    height: 600px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border : groove 6px rgba(0, 174, 239, 1);
    box-shadow:  3px 0px 30px -6px rgba(0, 174, 239, 0.6);
    position: absolute;

}


#loading{
    background-color: #fff;
    z-index: 2;
}

#play{
    background-color: rgba(50 , 50, 50, 0.8);
}

#timer {
    font-family: timer;
    font-size: 25px;
}


@font-face {
    font-family: timer;
    src: url('../fonts/TickingTimebombBB.ttf');
}

button {
    background-color: rgba(0, 174, 239, 1) ;
    text-align: center ;
    border: none;
    text-transform: uppercase;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.6);
    top: 60%;
    bottom: 0;
    left: 42%;
    right: 0;
    position: relative;
    font-family: 'Open Sans' , sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #f1f1f1;
    padding: 15px;
    cursor: pointer;
}

#replay button{
    top: 70%;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.6);
}

#replay{
    visibility: hidden;
}


